<h1>お客様情報</h1>
<div class="contents">
  <%= @customer.name %>
  <%= @customer.address %>
  <%= @customer.tell %>
  <%= @customer.contract_date %>
  <%= @customer.pattern %>
</div>

<table border="1">
  <tr>
    <th></th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <tr>
    <td>R-1ドリンク</td>
    <td>3</td>
    <td></td>
    <td></td>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ミルクで元気</td>
    <td>3</td>
    <td></td>
    <td></td>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>