<h1>商品変更・お休み<h1>

<h3 class="plan">プラン</h3>
<table border="1">
  <tr>
    <th></th>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <tr>
    <td><%=@product1.name%></td>
    <td><%=@order.number_of_product1a%></td>
    <td></td>
    <td></td>
    <td><%=@order.number_of_product1b%></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%=@product2.name%></td>
    <td><%=@order.number_of_product2a%></td>
    <td></td>
    <td></td>
    <td><%=@order.number_of_product2b%></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div class="content__title">
  商品の変更
</div>
<%= form_with model: @order, class: :form, local: true do |form| %>
  <%= form.number_field :product1, placeholder: :商品番号1, class: :form__text %>
  <%= form.number_field :number_of_product1a, placeholder: :本数1a, class: :form__text %>
  <%= form.number_field :number_of_product1b, placeholder: :本数1b, class: :form__text %> <br>
  <%= form.number_field :product2, placeholder: :商品番号2, class: :form__text %>
  <%= form.number_field :number_of_product2a, placeholder: :本数2a, class: :form__text %>
  <%= form.number_field :number_of_product2b, placeholder: :本数2b, class: :form__text %>
  <%= form.submit '変更する', class: :form__btn %>
<% end %>